[user]
    email = jbjcalmels@gmail.com
    name = Jonathan Calmels
[core]
    editor = vim
    excludesfile = ~/.gitignore
[merge]
    tool = vimdiff
    log = true
[push]
    default = upstream
[rebase]
    autoStash = true
[alias]
    lg = log --pretty=oneline -n 20 --graph --abbrev-commit
    st = status -s
    di = !git diff | vim -
    dc = !git diff --cached | vim -
    pl = pull
    ps = push
    pr = pull -r
    cl = clone --recursive
    cm = commit -m
    cp = cherry-pick
    ca = commit --amend --no-edit
    br = branch
    mt = mergetool
    ri = "!fn() { git rebase -i HEAD~$1; }; fn"
    rb = rebase
    ck = checkout
    ap = add -p
    gh = !"fn() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; fn"
